.whoWeSec {
}

.managementSec {
}

.managementSec .container {
  position: relative;
  padding-left: 120px;
}
.managementSec .verticalText {
  font-weight: bold;
  font-size: 50px;
  left: 0;
}
.managementThumb {
  align-items: center;
}
.managementThumb p {
}
.managementThumb.leftSec {
  margin: 0 -15px 100px;
}
.managementThumb.rightSec {
  flex-direction: row-reverse;
}
.managerName {
  font-family: Oswald;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 74px;
  color: #2285c8;
  border-bottom: solid 7px #fcc508;
  display: inline-block;
  margin: 0 0 0 auto;
  display: table;
}
.managementImgSec {
  position: relative;
}
.managementThumb.rightSec .managementImgSec img {
  margin: 0 0 0 -40px;
}
.managementImgSec .bgDot {
  position: absolute;
  bottom: -30px;
  right: 0;
  z-index: -1;
}
.managementImgSec .dotBoxesWrap {
  position: absolute;
  bottom: 0;
  right: -60px;
  z-index: -1;
}
.managementThumb.rightSec .dotBoxesWrap {
  bottom: -22px;
  right: -30px;
}
.visionSec {
  gap: 20px;
  display: flex;
  padding: 70px 0;
}
.visionThumb {
  background: url("../images/vision-bg.png");
  padding: 10px;
  font-size: 16px;
  line-height: 35px;
  width: 50%;
  position: relative;
}
.visionThumbInner {
  position: relative;
  height: 100%;
  width: 100%;
  background: #fff;
  padding: 40px 30px 100px 140px;
  display: flex;
  z-index: 1;
  line-height: 28px;
}
.visionThumb:after,
.visionThumb:before {
  content: "";
  background: #2185c8;
  height: 10px;
  width: 10px;
  position: absolute;
  transition: all ease 0.5s;
  z-index: 0;
  opacity: 0;
}
.visionThumb:after {
  top: 0;
  left: 0;
}
.visionThumb:before {
  bottom: 0;
  right: 0;
}
.visionThumb:hover:after,
.visionThumb:hover:before {
  height: 100%;
  width: 100%;
  opacity: 1;
}
.visionThumb .verticalText {
  font-family: Oswald;
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  left: 30px;
}
.visionThumbInner .icon {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 200px;
}
.visionThumb p {
  margin: 0;
}

.chairmanSec {
  background: url("../images/chaiman-bg.png");
  padding: 150px 0 0;
  position: relative;
  background-size: cover;
}
.charimanTextWrap {
  background: #ffffff;
  box-shadow: 0px 4px 112px rgba(12, 108, 173, 0.1);
  border-radius: 10px;
  position: relative;
  padding: 20px 60px;
  width: 72%;
  margin: 0 0 100px;
}
.charimanTextWrap:before {
  content: "";
  border: 1px solid #e7e7e7;
  border-radius: 5px;
  position: absolute;
  top: 10px;
  left: 10px;
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  z-index: 0;
}
.charimanTextWrap:after {
  content: "";
  background: url("../images/quote-img.png");
  position: absolute;
  top: 116px;
  left: 60px;
  background-size: 100%;
  width: 190px;
  height: 160px;
}
.charimanTextWrap h3 {
  text-align: center;
  margin: 0 0 30px;
  font-size: 26px;
  font-weight: 600;
}
.greetingsStrong {
  font-size: 18px;
  font-weight: bold;
}
.charimanTextWrap .em {
  font-style: italic;
  font-weight: 500;
  font-size: 12px;
  line-height: 29px;
}
.charimanTextWrap .slogan {
  background: linear-gradient(
    270deg,
    #fcc508 31.21%,
    rgba(255, 255, 255, 0) 102.06%
  );
  font-style: italic;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  text-align: right;
  padding: 20px 110px 20px 50px;
  display: table;
  margin: 0px -50px 0 auto;
  text-transform: capitalize;
}
.chairmanImg {
  position: absolute;
  bottom: -100px;
  width: 40vw;
  left: 68%;
}

.companyPhiloshySec {
  padding: 70px 0 110px !important;
}
.companyPhiloshySec .bgDot {
  margin: -70px 0 0 120px !important;
}

.companyPhiloshySec .row {
  align-items: center;
  justify-content: space-between;
}
.companyPhiloshySec .bgRec {
  margin: 0;
}
.companyPhiloshySec .rightContent_home {
  flex-basis: 100%;
}

.companyPhiloshySec .leftArea {
  /* margin: 0 0 0 -100px; */
}
.companyPhiloshySec .projectVideoSecInner:after {
  background: none;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .whoWeSec_left {
    -webkit-box-flex: 0;

    flex: 0 0 70%;

    max-width: 70%;
  }
}

@media only screen and (max-width: 767px) {
  .managementThumb.leftSec {
    margin: 0 -15px 100px;
    flex-direction: column-reverse;
  }
  .managementImgSec {
    margin: 0 0 50px;
  }
  .managementImgSec .bgDot {
    right: 0;
  }
  .managementThumb .col-md-8 {
    flex-direction: column-reverse;
    display: flex;
  }
  .managerName {
    margin: 0 0 30px;
    font-size: 26px;
    border-bottom: solid 4px #fcc508;
    line-height: 60px;
  }
  .managementThumb.rightSec {
    flex-direction: column-reverse;
  }
  .visionThumbInner {
    padding: 20px;
    flex-direction: column;
  }
  .visionSec {
    flex-direction: column;
    padding: 50px 15px;
  }
  .visionThumb {
    width: 100%;
  }
  .visionThumb .verticalText {
    font-size: 30px;
    margin: 0 0 20px;
  }
  .visionThumbInner .icon {
    width: 130px;
  }
  .chairmanSec {
    padding: 50px 15px;
  }
  .charimanTextWrap {
    width: 100%;
    padding: 50px 20px;
    margin: 0;
  }
  .overviewSec .bgDot {
    margin: 10px 0 0 !important;
    left: 50%;
    transform: translateX(-50%);
  }
  .charimanTextWrap .em {
    font-size: 14px;
  }
  .charimanTextWrap .slogan {
    padding: 10px 20px 10px 0;
    margin: 0;
    font-size: 14px;
    width: 100%;
    right: -10px;
    position: relative;
  }
  .companyPhiloshySec .bgDot {
    top: initial !important;
    bottom: -70px;
  }
  .companyPhiloshySec {
    padding: 70px 0 0px !important;
  }
}
