.filterTabsSec h4 {
  text-align: center;
  margin: 0 0 50px;
}

.filter {
  margin: 0 0 30px;
}

.filter ul {
  padding: 0 0 0 16px;
}

@media screen and (max-width: 767px) {
  .nav.nav-pills .nav-item {
    width: 50%;
    padding: 0;
  }
  .filterGalleries {
    margin: 0 -15px;
    text-align: center;
  }
}

.csrSec {
  display: inline-block;
  width: 100%;
  margin: 0 0 50px;
}

.nav.nav-pills {
  justify-content: center;
  margin: 0 0 30px;
}

.filter {
  max-width: inherit !important;
  height: inherit;
}

.Portfolio {
  position: relative;
  margin: 10px;
  float: left;
  width: 240px;
  transition-duration: 0.4s;
  border-radius: 5px;
  animation: winanim 0.5s;
  -webkit-backface-visibility:visible;
  backface-visibility:visible;
  box-shadow:0 3px 5px -1px rgba(0,0,0,.2),0 5px 8px 0 rgba(0,0,0,.14),0 1px 14px 0 rgba(0,0,0,.12)
}

.Portfolio:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
}

.Portfolio img {
  width: 100%;
  height: auto;
  border-radius: 5px
}

.nav li a {
  font-size: 16px;
  border: 1px solid #2185c8;
  border-radius: 0;
  text-align: center;
  color: #2185c8;
  background: none;
  transition-duration: 0.4s;
  padding: 10px 50px;
  border-radius: 0 !important;
}
.nav a:hover {
  background: #2584c8;
  color: #fff;
}
.nav .active {
  background-color: #2385c8 !important;
  color:#fff;
}

@keyframes winanim {
  0%{opacity:0;transform:scale3d(.3,.3,.3)}
  50%{opacity:1}
}